.idea/
.gradle/
*.iml
*.ipr
*.iws
work/
log/
logs/
.DS_Store
build/
target/
.project
.classpath
eclipse-build
*/.project
*/.classpath
*/eclipse-build
/.settings/

## netbeans ignores
nb-configuration.xml
nbactions.xml
/1p-app/.settings
/1p-async-service/.settings
/1p-library/.settings
/1p-template-schema/.settings
/1p-service/.settings
/1p-service/conf
/1p-app/bin
/1p-service/bin
/1p-library/bin
/1p-template-schema/bin
